In [107]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [108]:
df1=pd.read_csv("C:\\Users\\Preeti Kuntal\\Desktop\\UPFLAIRS\\pandamodule.py\\Used_Bikes (2).csv")
df1

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...,...
32643,Hero Passion Pro 100cc,39000.0,Delhi,22000.0,First Owner,4.0,100.0,Hero
32644,TVS Apache RTR 180cc,30000.0,Karnal,6639.0,First Owner,9.0,180.0,TVS
32645,Bajaj Avenger Street 220,60000.0,Delhi,20373.0,First Owner,6.0,220.0,Bajaj
32646,Hero Super Splendor 125cc,15600.0,Jaipur,84186.0,First Owner,16.0,125.0,Hero
32647,Bajaj Pulsar 150cc,22000.0,Pune,60857.0,First Owner,13.0,150.0,Bajaj

In [109]:
df1.head()           # top 5 rows show krne ke liye

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha

In [110]:
df1.duplicated().sum()

np.int64(25324)

In [111]:
df1.drop_duplicates(inplace=True)               # sari duplicates value hta di from dataframe and modify df1

In [112]:
df1.duplicated().sum()

np.int64(0)

In [113]:
df1           # ab isme duplicate data nhi h

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...,...
9362,Hero Hunk Rear Disc 150cc,25000.0,Delhi,48587.0,First Owner,8.0,150.0,Hero
9369,Bajaj Avenger 220cc,35000.0,Bangalore,60000.0,First Owner,9.0,220.0,Bajaj
9370,Harley-Davidson Street 750 ABS,450000.0,Jodhpur,3430.0,First Owner,4.0,750.0,Harley-Davidson
9371,Bajaj Dominar 400 ABS,139000.0,Hyderabad,21300.0,First Owner,4.0,400.0,Bajaj
9372,Bajaj Avenger Street 220,80000.0,Hyderabad,7127.0,First Owner,5.0,220.0,Bajaj

In [114]:
df1.isnull().sum()              # kisi bhi column m missing value nhi h

bike_name     0
price         0
city          0
kms_driven    0
owner         0
age           0
power         0
brand         0
dtype: int64

In [115]:
# price column is consider as y and y is dependent and other are x and x is independent.

In [116]:
x=df1[["city","kms_driven","owner","age","power","brand"]]       # x is independent
x.head()

        city  kms_driven        owner  age  power          brand
0  Ahmedabad     17654.0  First Owner  3.0  110.0            TVS
1      Delhi     11000.0  First Owner  4.0  350.0  Royal Enfield
2      Delhi       110.0  First Owner  8.0  675.0        Triumph
3  Bangalore     16329.0  First Owner  4.0  180.0            TVS
4  Bangalore     10000.0  First Owner  3.0  150.0         Yamaha

In [117]:
y=df1[["price"]]          # y is dependent 
y.head()

      price
0   35000.0
1  119900.0
2  600000.0
3   65000.0
4   80000.0

In [118]:
# ml sirf 0 to 9 number he leti h not text or alphabets
# labelencoding( all integer ),onehotencoding(0,1 use hota h ),ordinalencoding(advance version of labelencoding,ek meaningful order m integers do inplace of alphabet) used to transfer alphabets into number

In [119]:
df1["owner"].value_counts()

owner
First Owner             6642
Second Owner             588
Third Owner               84
Fourth Owner Or More      10
Name: count, dtype: int64

In [120]:
dt={"First Owner":1 ,             #  ordinal encoding ,make dictionary of owner column 
'Second Owner'  :2 ,                 #  owner data ko numerical change krne ke liye ye kiya h 
'Third Owner'  : 3 ,
'Fourth Owner Or More' :4}
dt

{'First Owner': 1,
 'Second Owner': 2,
 'Third Owner': 3,
 'Fourth Owner Or More': 4}

In [121]:
df1['owner']

0       First Owner
1       First Owner
2       First Owner
3       First Owner
4       First Owner
           ...
9362    First Owner
9369    First Owner
9370    First Owner
9371    First Owner
9372    First Owner
Name: owner, Length: 7324, dtype: object

In [122]:
# for ownership in df1['owner']:
#     print (dt[ownership])


df1["owner"].map(dt)       #map ne sare values owner column ki map kr diya with 1,2,3,4

0       1
1       1
2       1
3       1
4       1
       ..
9362    1
9369    1
9370    1
9371    1
9372    1
Name: owner, Length: 7324, dtype: int64

In [123]:
df1["owner"]=df1["owner"].map(dt)
df1

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,1,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,1,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,1,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,1,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,1,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...,...
9362,Hero Hunk Rear Disc 150cc,25000.0,Delhi,48587.0,1,8.0,150.0,Hero
9369,Bajaj Avenger 220cc,35000.0,Bangalore,60000.0,1,9.0,220.0,Bajaj
9370,Harley-Davidson Street 750 ABS,450000.0,Jodhpur,3430.0,1,4.0,750.0,Harley-Davidson
9371,Bajaj Dominar 400 ABS,139000.0,Hyderabad,21300.0,1,4.0,400.0,Bajaj
9372,Bajaj Avenger Street 220,80000.0,Hyderabad,7127.0,1,5.0,220.0,Bajaj

In [124]:
df1["brand"].nunique()

23

In [125]:
df1["brand"].value_counts()

brand
Bajaj              2081
Royal Enfield      1346
Hero               1142
Honda               676
Yamaha              651
TVS                 481
KTM                 375
Suzuki              203
Harley-Davidson      91
Kawasaki             61
Hyosung              53
Mahindra             50
Benelli              46
Triumph              21
Ducati               20
BMW                  10
Jawa                  7
Indian                3
MV                    3
Rajdoot               1
LML                   1
Yezdi                 1
Ideal                 1
Name: count, dtype: int64

In [126]:
df_filtered2 = df1[df1['brand'].isin(['Bajaj','Royal Enfield ', 
'Hero',               
'Honda',               
'Yamaha',              
'TVS',             
'KTM ',              
'Suzuki ',            
'Harley-Davidson ',     
'Kawasaki ' ,    
'Hyosung' ,   
'Mahindra',  
'Benelli ', 
'Triumph ',
'Ducati ',
'BMW'])]
print(df_filtered2)

                                 bike_name     price       city  kms_driven  \
0       TVS Star City Plus Dual Tone 110cc   35000.0  Ahmedabad     17654.0
3                     TVS Apache RTR 180cc   65000.0  Bangalore     16329.0
4     Yamaha FZ S V 2.0 150cc-Ltd. Edition   80000.0  Bangalore     10000.0
5                         Yamaha FZs 150cc   53499.0      Delhi     25000.0
6            Honda CB Hornet 160R  ABS DLX   85000.0      Delhi      8200.0
...                                    ...       ...        ...         ...
9361                   Bajaj Avenger 220cc   50000.0  Bangalore     29134.0
9362             Hero Hunk Rear Disc 150cc   25000.0      Delhi     48587.0
9369                   Bajaj Avenger 220cc   35000.0  Bangalore     60000.0
9371                 Bajaj Dominar 400 ABS  139000.0  Hyderabad     21300.0
9372              Bajaj Avenger Street 220   80000.0  Hyderabad      7127.0

      owner  age  power   brand
0         1  3.0  110.0     TVS
3         1  4.0  180.0     TVS
4         1  3.0  150.0  Yamaha
5         1  6.0  150.0  Yamaha
6         1  3.0  160.0   Honda
...     ...  ...    ...     ...
9361      1  7.0  220.0   Bajaj
9362      1  8.0  150.0    Hero
9369      1  9.0  220.0   Bajaj
9371      1  4.0  400.0   Bajaj
9372      1  5.0  220.0   Bajaj

[5144 rows x 8 columns]

9 AUGUST CLASS

In [127]:
brand_ls=list(df1["brand"].value_counts().head(16).keys())
brand_ls

['Bajaj',
 'Royal Enfield',
 'Hero',
 'Honda',
 'Yamaha',
 'TVS',
 'KTM',
 'Suzuki',
 'Harley-Davidson',
 'Kawasaki',
 'Hyosung',
 'Mahindra',
 'Benelli',
 'Triumph',
 'Ducati',
 'BMW']

In [128]:
df2=df1[df1["brand"].isin(brand_ls)]
df2

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,1,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,1,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,1,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,1,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,1,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...,...
9362,Hero Hunk Rear Disc 150cc,25000.0,Delhi,48587.0,1,8.0,150.0,Hero
9369,Bajaj Avenger 220cc,35000.0,Bangalore,60000.0,1,9.0,220.0,Bajaj
9370,Harley-Davidson Street 750 ABS,450000.0,Jodhpur,3430.0,1,4.0,750.0,Harley-Davidson
9371,Bajaj Dominar 400 ABS,139000.0,Hyderabad,21300.0,1,4.0,400.0,Bajaj
9372,Bajaj Avenger Street 220,80000.0,Hyderabad,7127.0,1,5.0,220.0,Bajaj

list[461]

In [130]:
l2=list[df2["brand"].value_counts().keys()]
l2

list[Index(['Bajaj', 'Royal Enfield', 'Hero', 'Honda', 'Yamaha', 'TVS', 'KTM',
       'Suzuki', 'Harley-Davidson', 'Kawasaki', 'Hyosung', 'Mahindra',
       'Benelli', 'Triumph', 'Ducati', 'BMW'],
      dtype='object', name='brand')]

In [131]:
# dictionary comprehension
brand_dict={brand:i for i ,brand in enumerate(list(df2["brand"].value_counts().
keys()),start=1)}
print(brand_dict)
df2["brand"]=df2["brand"].map(brand_dict)

{'Bajaj': 1, 'Royal Enfield': 2, 'Hero': 3, 'Honda': 4, 'Yamaha': 5, 'TVS': 6, 'KTM': 7, 'Suzuki': 8, 'Harley-Davidson': 9, 'Kawasaki': 10, 'Hyosung': 11, 'Mahindra': 12, 'Benelli': 13, 'Triumph': 14, 'Ducati': 15, 'BMW': 16}

C:\Users\Preeti Kuntal\AppData\Local\Temp\ipykernel_34132\2455785042.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["brand"]=df2["brand"].map(brand_dict)

In [132]:
df2

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,1,3.0,110.0,6
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,1,4.0,350.0,2
2,Triumph Daytona 675R,600000.0,Delhi,110.0,1,8.0,675.0,14
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,1,4.0,180.0,6
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,1,3.0,150.0,5
...,...,...,...,...,...,...,...,...
9362,Hero Hunk Rear Disc 150cc,25000.0,Delhi,48587.0,1,8.0,150.0,3
9369,Bajaj Avenger 220cc,35000.0,Bangalore,60000.0,1,9.0,220.0,1
9370,Harley-Davidson Street 750 ABS,450000.0,Jodhpur,3430.0,1,4.0,750.0,9
9371,Bajaj Dominar 400 ABS,139000.0,Hyderabad,21300.0,1,4.0,400.0,1
9372,Bajaj Avenger Street 220,80000.0,Hyderabad,7127.0,1,5.0,220.0,1

In [133]:
df2.drop(["bike_name","city"],axis=1,inplace=True)

C:\Users\Preeti Kuntal\AppData\Local\Temp\ipykernel_34132\378100966.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop(["bike_name","city"],axis=1,inplace=True)

In [134]:
df2.head(4)

      price  kms_driven  owner  age  power  brand
0   35000.0     17654.0      1  3.0  110.0      6
1  119900.0     11000.0      1  4.0  350.0      2
2  600000.0       110.0      1  8.0  675.0     14
3   65000.0     16329.0      1  4.0  180.0      6

In [135]:
x=df2.drop("price",axis=1)
x

      kms_driven  owner  age  power  brand
0        17654.0      1  3.0  110.0      6
1        11000.0      1  4.0  350.0      2
2          110.0      1  8.0  675.0     14
3        16329.0      1  4.0  180.0      6
4        10000.0      1  3.0  150.0      5
...          ...    ...  ...    ...    ...
9362     48587.0      1  8.0  150.0      3
9369     60000.0      1  9.0  220.0      1
9370      3430.0      1  4.0  750.0      9
9371     21300.0      1  4.0  400.0      1
9372      7127.0      1  5.0  220.0      1

[7307 rows x 5 columns]

In [136]:
y=df2[["price"]]
y

         price
0      35000.0
1     119900.0
2     600000.0
3      65000.0
4      80000.0
...        ...
9362   25000.0
9369   35000.0
9370  450000.0
9371  139000.0
9372   80000.0

[7307 rows x 1 columns]

In [137]:
from sklearn.model_selection import train_test_split

In [138]:
train_test_split(x,y,test_size=0.2)

[      kms_driven  owner  age  power  brand
 2750     20000.0      1  8.0  500.0      2
 5477      4500.0      1  2.0  220.0      1
 2646     40000.0      1  6.0  350.0      2
 5856     38000.0      1  6.0  150.0      5
 2433     14892.0      1  4.0  100.0      3
 ...          ...    ...  ...    ...    ...
 6117     11306.0      1  3.0  350.0      2
 3218     15184.0      1  5.0  390.0      7
 1455     14500.0      1  7.0  150.0      5
 5040     15264.0      1  4.0  220.0      1
 3048     13290.0      1  4.0  100.0      1

 [5845 rows x 5 columns],
       kms_driven  owner   age  power  brand
 8567      8713.0      1   5.0  135.0      1
 4510      2900.0      1   3.0  350.0      2
 2823     45217.0      2   7.0  220.0      1
 1015     55239.0      1  12.0  180.0      1
 4069     22000.0      1  13.0  180.0      1
 ...          ...    ...   ...    ...    ...
 4611     15080.0      1   5.0  350.0      2
 6491     25000.0      1   6.0  150.0      4
 5288     11000.0      1   4.0  150.0      1
 8349     74183.0      1   9.0  220.0      1
 6880     25108.0      1  11.0  150.0      5

 [1462 rows x 5 columns],
          price
 2750  111300.0
 5477   85000.0
 2646  100000.0
 5856   90000.0
 2433   50000.0
 ...        ...
 6117  150000.0
 3218  115100.0
 1455   42000.0
 5040   61500.0
 3048   28000.0

 [5845 rows x 1 columns],
          price
 8567   40000.0
 4510  150000.0
 2823   35590.0
 1015   13500.0
 4069   25000.0
 ...        ...
 4611   95000.0
 6491   45000.0
 5288   70000.0
 8349   35000.0
 6880   35000.0

 [1462 rows x 1 columns]]

In [139]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [140]:
x_train

      kms_driven  owner   age  power  brand
8991     36400.0      1  16.0  125.0      4
1922     20473.0      1  10.0  125.0      4
7912     33885.0      1   8.0  350.0      2
4336     19152.0      1   8.0  100.0      3
3231      6042.0      1   5.0  150.0      1
...          ...    ...   ...    ...    ...
3523        40.0      1   7.0  350.0      2
3428     30000.0      1   5.0  300.0     12
4161      9293.0      1   6.0  150.0      4
1852     25205.0      1   5.0  150.0      5
8611     20986.0      1   4.0  350.0      2

[5845 rows x 5 columns]

In [141]:
y_train

         price
8991   25000.0
1922   28000.0
7912   89720.0
4336   26000.0
3231   27000.0
...        ...
3523  112200.0
3428  110000.0
4161   95000.0
1852   65000.0
8611  125000.0

[5845 rows x 1 columns]

In [142]:
x_test

      kms_driven  owner   age  power  brand
8235      8700.0      1   6.0  250.0     11
8073     31000.0      1  11.0  350.0      2
1583     14500.0      1   5.0  150.0      1
2124      4000.0      1   3.0  350.0      2
3454     38214.0      1  10.0  350.0      2
...          ...    ...   ...    ...    ...
1753     32800.0      1   7.0  100.0      3
7213       301.0      1   3.0  500.0      2
5266     19000.0      1  10.0  100.0      3
7389     20000.0      1   7.0  160.0      6
7789     57000.0      1  16.0  223.0      3

[1462 rows x 5 columns]

In [143]:
from sklearn.linear_model import LinearRegression

In [144]:
lnr=LinearRegression()

In [145]:
lnr.fit(x_train,y_train)

LinearRegression()

In [146]:
LinearRegression()

LinearRegression()

In [147]:
lnr.score(x_train,y_train)*100

74.21883968832724

In [148]:
lnr.score(x_test,y_test)*100

72.92121846234174

In [149]:
y_test

         price
8235  215000.0
8073   65800.0
1583   60000.0
2124  148000.0
3454   70000.0
...        ...
1753   25100.0
7213  154000.0
5266   21000.0
7389   41900.0
7789   18000.0

[1462 rows x 1 columns]

In [150]:
prediction=lnr.predict(x_test)

In [151]:
y_test["Prediction"]=prediction

In [152]:
y_test.head(20)

         price     Prediction
8235  215000.0  192009.584410
8073   65800.0  121628.503437
1583   60000.0   18099.511637
2124  148000.0  144993.575424
3454   70000.0  123760.217083
4510  150000.0  145075.529563
7362   31500.0   -9030.153512
5186   36800.0    9164.222903
2462   21000.0   19310.360979
6857   33000.0   51117.027355
958    10669.0  -13939.113558
4078   19000.0    4463.536828
6469   35000.0   49284.578847
8998   55000.0   32617.867953
1144   58000.0   44272.635221
8634   22000.0      13.204233
3511  125000.0  139334.841648
5697  108000.0  214744.662635
5021  104400.0  136898.568578
59     65000.0   54578.018821

In [153]:
x_train

      kms_driven  owner   age  power  brand
8991     36400.0      1  16.0  125.0      4
1922     20473.0      1  10.0  125.0      4
7912     33885.0      1   8.0  350.0      2
4336     19152.0      1   8.0  100.0      3
3231      6042.0      1   5.0  150.0      1
...          ...    ...   ...    ...    ...
3523        40.0      1   7.0  350.0      2
3428     30000.0      1   5.0  300.0     12
4161      9293.0      1   6.0  150.0      4
1852     25205.0      1   5.0  150.0      5
8611     20986.0      1   4.0  350.0      2

[5845 rows x 5 columns]

In [154]:
x_train.shape

(5845, 5)

In [155]:
import os,joblib

In [156]:
os.makedirs("models",exist_ok=True)

In [157]:
joblib.dump(lnr,"./models/linear_model.lb")

['./models/linear_model.lb']